@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(210, 208, 208);
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}
body .page{
    margin: 20px 80px;
}

table {
    margin-left: 50px;
    margin-top: 50px;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
    border: solid 1px #000;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000;
  }
  th {
    background-color: #f2f2f2;
  }

p{
    display: inline-block;
    margin-left: 50px;
    color: blue;
    text-decoration: underline;
  }
h1{
    margin-left: 100px;
}

.a{
    margin-left: 250px;
}